.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.carousel .carousel-item {
  height: 500px;
}
  
.carousel-item img {
  position: absolute;
  object-fit:cover;
  top: 0;
  left: 0;
  min-height: 500px;
}

.searchbutton {
  background-color: #EA6464;
  color: white;
  width: 124px;
}

.navbar {
  border-top: 5px solid #EA6464;
}

.nav-item {
  font-size: 16px;
  color: #595959
}

#searchbar {
  border: 3px solid #EA6464;
  border-radius: 5px;
}